# Fichiers objets
*.o

# Fichier DS Store de Mac
.DS_Store

# Fichiers de compilation LaTeX
*.log
*.aux
*.toc
*.fdb_latexmk
*.fls
*.out
*.synctex.gz

# Fichiers de bibliothèques
*.a

# Fichiers source LaTeX et styles du rapport
rapport/*.tex
rapport/*.sty
